<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context 
       http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/aop   
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd   
       http://www.springframework.org/schema/tx    
       http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

    <!-- set the annotation context -->
	<context:component-scan base-package="com.onlineMIS" /> 

    <!-- database outside configuration -->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">  
        <property name="locations">  
             <list><value>classpath:sysParms/database.properties</value></list>  
        </property>  
        <property name="fileEncoding" value="utf-8" />  
    </bean>  
	
            
	<!-- MySQL DataSource Property -->
	<bean id="dataSource" class="org.apache.tomcat.jdbc.pool.DataSource" destroy-method="close">
		<property name="driverClassName" value="${mysql.jdbc.driverClassName}"/>
		<property name="url" value="${mysql.jdbc.url}"/>
		<property name="username" value="${mysql.jdbc.username}"/>
		<property name="password" value="${mysql.jdbc.password}"/> 
         <property name="testOnBorrow" value="true"/> 
         <property name="testWhileIdle" value="false"/> 
        <property name="validationInterval" value="30000"/>  
        <property name="validationQuery" value="SELECT 1"/>   
        <property name="timeBetweenEvictionRunsMillis" value="5000"/>   
        <property name="maxActive" value="100"/>   
        <property name="initialSize" value="25"/>    
        <property name="minIdle" value="10"/>     
        <property name="logAbandoned" value="false"/>   
        <property name="removeAbandoned" value="true"/>   
        <property name="removeAbandonedTimeout" value="3600"/> 
        <property name="jdbcInterceptors" value="org.apache.tomcat.jdbc.pool.interceptor.ConnectionState;org.apache.tomcat.jdbc.pool.interceptor.StatementFinalizer"/>   
    </bean>    
 
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
	    <property name="dataSource" ref="dataSource"/>
	    
	    <property name="mappingResources">
	     <list>
	              <value>com/onlineMIS/ORM/headQ/UserInfor.hbm.xml</value>
	             <value>com/onlineMIS/ORM/headQ/Finance.hbm.xml</value>
	             <value>com/onlineMIS/ORM/headQ/BarcodeGentor.hbm.xml</value>
	             <value>com/onlineMIS/ORM/headQ/Inventory.hbm.xml</value>
	             <value>com/onlineMIS/ORM/headQ/HRManagement.hbm.xml</value>
	             <value>com/onlineMIS/ORM/chainS/ChainUserInfor.hbm.xml</value>
	             <value>com/onlineMIS/ORM/chainS/ChainSales.hbm.xml</value>
	             <value>com/onlineMIS/ORM/chainS/ChainVIP.hbm.xml</value>
	             <value>com/onlineMIS/ORM/chainS/ChainInventoryFlow.hbm.xml</value>
	             <value>com/onlineMIS/ORM/chainS/ChainMgmt.hbm.xml</value>
	             <value>com/onlineMIS/ORM/chainS/ChainReport.hbm.xml</value>
	             <value>com/onlineMIS/ORM/chainS/ChainManualRpt.hbm.xml</value>
	     </list>
        </property>
	    <property name="hibernateProperties">
		 <props>
			<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
			<prop key="hibernate.show_sql">true</prop>
			<prop key="hibernate.generate_statistics">true</prop>
			<prop key="hibernate.connection.release_mode">auto</prop>
			<prop key="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</prop> 
            <prop key="hibernate.cache.use_query_cache">true</prop>
            <prop key="hibernate.cache.use_second_level_cache">true</prop>  
			<prop key="hibernate.autoReconnect">true</prop>
			<prop key="hibernate.max_fetch_depth">4</prop>
			<prop key="hibernate.jdbc.batch_size">20</prop>		
		 </props>
		</property>
   </bean>

    <!-- SQL Server datasource -->
	<bean id="dataSourceMS" class="org.apache.tomcat.jdbc.pool.DataSource" destroy-method="close">
		<property name="driverClassName" value="${SQLServer.jdbc.driverClassName}"/>
		<property name="url" value="${SQLServer.jdbc.url}"/>
		<property name="username" value="${SQLServer.jdbc.username}"/>
		<property name="password" value="${SQLServer.jdbc.password}"/>
	    <property name="testOnBorrow" value="true"/> 
         <property name="testWhileIdle" value="false"/> 
        <property name="validationInterval" value="30000"/>  
        <property name="validationQuery" value="SELECT 1"/>   
        <property name="timeBetweenEvictionRunsMillis" value="5000"/>   
        <property name="maxActive" value="100"/>   
        <property name="initialSize" value="25"/>    
        <property name="minIdle" value="10"/>     
        <property name="logAbandoned" value="false"/>   
        <property name="removeAbandoned" value="true"/>   
        <property name="removeAbandonedTimeout" value="600"/> 
        <property name="jdbcInterceptors" value="org.apache.tomcat.jdbc.pool.interceptor.ConnectionState;org.apache.tomcat.jdbc.pool.interceptor.StatementFinalizer"/>   
    
    </bean>
    <bean id="sessionFactoryMS" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
	    <property name="dataSource" ref="dataSourceMS"/>
	    <property name="mappingResources">
	     <list><value>com/onlineMIS/ORM/headQ/SQLServer.hbm.xml</value>
	           <value>com/onlineMIS/ORM/headQ/SQLServer2.hbm.xml</value>
	     </list>
        </property>
	    <property name="hibernateProperties">
		 <props>
			<prop key="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</prop>
			<prop key="hibernate.show_sql">true</prop>
			<prop key="hibernate.generate_statistics">true</prop>
			<prop key="hibernate.connection.release_mode">auto</prop>
			<prop key="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</prop> 
            <prop key="hibernate.cache.use_query_cache">true</prop>
            <prop key="hibernate.cache.use_second_level_cache">true</prop>  
			<prop key="hibernate.autoReconnect">true</prop>
		 </props>
		</property>
   </bean>   
       
   <!-- transaction management -->
   <bean id="txManager"  class="org.springframework.orm.hibernate3.HibernateTransactionManager">
          <property name="sessionFactory">
              <ref bean="sessionFactory" />
          </property>
   </bean>
   <tx:annotation-driven transaction-manager="txManager"/>
   
   <!-- log -->
   <!--  <bean id="logger" class="com.common.loggerLocal"> 
   </bean>-->
   
   <!-- aop information 
   <aop:config proxy-target-class="true">
      <aop:aspect ref="logger">
      </aop:aspect>
   </aop:config>-->
   
   <!-- the hibernate template for mysql and sqlServer -->
   <bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
         <property name="sessionFactory" ref="sessionFactory"/>  
   </bean>
   <bean id="hibernateTemplateMS" class="org.springframework.orm.hibernate3.HibernateTemplate">
         <property name="sessionFactory" ref="sessionFactoryMS"/>  
   </bean>
 


</beans>